*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    align-items: center;
    background: #343f4f;
    display: flex;
    justify-content: center;
    padding: 0 35px;
    min-height: 100vh;
}
.wrapper{
    max-width: 1200px;
    position: relative;
}
.wrapper i{
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 46px;
}
.wrapper i:first-child{
    left: -23px;
    display: none;
}
.wrapper i:last-child{
    right: -23px;
}
.wrapper .carousel{
    cursor: pointer;
    font-size: 0px;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
.carousel img{
    height: 340px;
    margin-left: 14px;
    object-fit: cover;
    width: calc(100% / 3);
}
.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px){
    .carousel img{
        width: calc(100% / 2) !important;
    }
}
@media screen and (max-width: 550px){
    .carousel img{
        width: 100% !important;
    }
}


